body{
    font-family : 'Raleway', sans-serif;
}
.pad-left{
    padding-left: 60px;
    padding-right: 60px;
}
header {
    height: 110px;
}
a {
    text-decoration: none;
    color: black;
}
ul{
    margin-top: 0px;
}
nav li {
    display: inline-block;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 50px;
    font-size: 1.3rem;
    border-top: 3px solid transparent;
}
nav li:hover{
    
    border-top: 3px solid #0065FC;
}
 nav div {
    list-style: none;
    float: right;
    
}
header div img {
    width: 120px;
    float: left;
    padding: 50px 20px 20px 0px;
}
/* design pour tablette */

@media screen and (max-width: 992px) and (min-width: 769px) {
    header {
        height: 130px;
    }
}
  /*--------------------------------------------------*/
  /*main*/
.a-top{
    text-decoration: none;
}

  .formulaire {
    display: flex;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 3rem; 
    border: 1px solid #F2F2F2;
    border-radius: 15px;

  } 
  .dot-search {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
  }
  .p-search{
      font-size: 1.2rem;
      padding-top: 40px;
      padding-bottom: 10px;
  }
  .fa-location-dot{
      display: block;
    align-self: center;
    margin: 0 auto;
  }
  .entree-search{
    width: 240px;
    height: 92%;
    padding: 0 auto;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .boutton-rec{
    height: 50px;
    width: 160px;
    padding: 0 auto;
    color: white;
    background-color: #0065FC;
    border: none;
    
    border-radius: 0px 15px 15px 0px ;
    }
    
    .logo-rec{
        display: none;
    }
    .ul-filtre{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-top: 10px;
        align-items: center;
    }

    .filtre{
        flex-wrap: wrap;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 50px;
        padding-right: 20px;
        margin-right: 30px;
        margin-top: 20px;
        
    }
    .filt{
        font-weight: 800;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        align-content: center;
  
        }
        
    .cercle-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        width: 50px;
        height: 50px; 
        background-color: #DEEBFF;
        border-radius: 50%;
    }
    .filtre i{
        color: #0065FC;  
        z-index: 2; 
    }

    .filtre p{
        font-weight: 800;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 44px;
        position: relative;
        left: -25px;
        z-index: 1;
        padding-left: 40px;
        padding-right: 20px;
        border: 3px solid #F2F2F2;
        border-radius: 0px 25px 25px 0px;
    }
    .info-num{
        display: flex;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
   
    .fa-info{
        display: inline-block;
        text-align: center;
        padding: 3px;
        height: 20px;
        width: 20px;
        color: #0065FC;
        border: 1px solid #F2F2F2;
        border-radius: 50%;
    }
    .p-info{
        padding-left: 10px;
    }
    .main-affichage{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
   
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .logement{
        display: flex;
        width: 62%;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        border-radius: 20px;
       padding-left: 40px;
       box-sizing: border-box;
      
    }
    .soustitre{
        width: 90%;
        height: 20px;
       margin-bottom: 0px;
       margin-top: 0px;
       padding-top: 50px;
       font-weight: 800;
       font-size: 2.0rem;
    }
    .titre-log{
        padding-bottom: 20px;
        padding-left: 0px;
    }
    .vignette{
        display: flex;
        flex-direction: column;
        width: 27%;
        height: 230px;
        background-color: white;
        border-radius: 20px;
        padding: 7px;
       margin: 15px 40px 15px 0px;
       box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    }
    .vignette-photo{
        display: flex;
        object-fit: cover;
        margin: 0px auto;
        padding-bottom: 5px;
        width: 100%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
       
    }
    .log-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 40%;
        padding-left: 20px;
    }
    .sub-vignette{
        width: 100%;
        font-size: 1.2rem;
        margin: 0;
    }
   
    .sub-vig-pop{
        display: flex;
        align-content: space-between;
        margin: 0;
        padding-bottom: 10px;
    }
    .sub-pop{
        padding-top: 20px;
    }
    .star-bleu{
        color: #0065FC;
    }
    .star-gris{
        color: #F2F2F2;
    }
    .vignette-foot{
        width: 700px;
        height: 30px;
        align-items: center;
        align-content: center;
    }
    .a-class{
        width: 100%;
        height: 100%;
    }
    .populaire{
        display: flex;
        width: 36%;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 0 auto;
    }
    .star-noir{
        float: right;
        font-size: 1.3rem;
    }
    .vign-popu{
        display: flex;
        width: 90%;
        height: 23%;
        align-items: center;
        background-color: white;
        flex-direction: row;
        border-radius: 20px;
        padding: 7px 7px 7px 7px;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    }
    .popu-photo{
        display: flex;
        object-fit: cover;
        height: 100%;
        width: 40%;
        align-items: center;
        align-content: center;
        border-radius: 15px 0px 0px 15px;
    }
    .a-pop{
        display: flex;
    }
    .vign-text{
        display: flex;
        flex-direction: column;
        width: 30%;
        background-color: white;
        justify-content: space-around;
        border-radius: 20px;
        padding-bottom: 7px;
        padding-left: 20px;
       margin: 35px 30px 15px 0px;
       box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    }
    .pop-text{
        width: 60%;
        height: 100%;
        margin: 5px 10px 5px 0px;
        padding-bottom: 0px;
        box-shadow: unset;    
    }
    .text-top-pop{
        display: flex;
        width: 100%;
        height: 70%;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .activites{
        width: 100%;   
        height: 100%;
        background-color: rgb(255, 255, 255);
        padding-top: 40px;
    }
    .grp-activite{
        display: flex;
        width: 100%;
        height: 700px;
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
        align-content: space-between;
        flex-wrap: wrap;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
    }
    .grp-activite > div{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
  
        width: 22%;
    }
    .big-vignette{
        height: 100%;
        border-radius: 15px;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
        box-sizing: content-box;
    }
    .double-vignette{
        height: 100%;
        justify-content: space-between;
        box-sizing: content-box;
        box-shadow:none;
        flex-wrap: wrap;
    }
    .half-card{
        height: calc(100% - 60px);
    }
    .big-card{
        height: calc(100% - 60px);
    }
    .med-vignette1{
        display: flex;
        flex-direction: column;
        height: 55%;
        width: 100%;
        border-radius: 15px;
        box-sizing: content-box;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    }
    .low-vignette{
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        border-radius: 15px;
        box-sizing: content-box;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    }

    .med-vignette{
        display: flex;
        flex-direction: column;
        height: 45%;
        width: 100%;
        border-radius: 15px;
        box-sizing: content-box;
        box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    }
    
    .card-img{
        width: 100%;
        height: 100%;
        background-repeat:no-repeat;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
    }
    .act-photo{
        height: 100%;
        width: 100%;
        max-height: 500px;
        object-fit: cover;
    }
    .sub-act{ 
        padding-left: 30px;
        font-size: 1.3rem;
        height: 60px;
        line-height: 60px;
        margin: 0;
        border-radius: 0px 0px 10px 10px;
        background-color: rgb(255, 255, 255);     
    }
 
    footer{
        display: flex;
        flex-direction: row;
        height: 250px;
        margin-top: 30px;
        background-color: #F2F2F2;
    }
    footer div{
flex: 1;
    }
    .foot-col{
        padding-top: 40px;
    }
    .test-foot{
        font-size: 1.3rem;
    }